<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xlmns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla::header"/>
        <div class="contenido">
            <h2>[[#{cliente.datos}]]</h2>
            <a th:href="@{/cliente/listado}">[[#{accion.regresar}]]</a>
            <hr/><!-- comment -->
            <form th:action="@{/cliente/guardar}"
                  method="post"
                  th:object="${cliente}">
                <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
                <input type="hidden" name="idCredito" th:field="*{credito.idCredito}"/>
                
                <fieldset>
                    <label for="nombre">[[#{cliente.nombre}]]</label>
                    <input type="text" name ="nombre" th:field="*{nombre}"/>
                </fieldset>
                <fieldset>
                    <label for="apellidos">[[#{cliente.apellidos}]]</label>
                    <input type="text" name ="apellidos" th:field="*{apellidos}"/>
                </fieldset>
                <fieldset>
                    <label for="correo">[[#{cliente.correo}]]</label>
                    <input type="email" name ="correo" th:field="*{correo}"/>
                </fieldset>
                <fieldset>
                    <label for="telefono">[[#{cliente.telefono}]]</label>
                    <input type="tel" name ="telefono" th:field="*{telefono}"/>
                </fieldset>
                <fieldset>
                    <label for="limite">[[#{cliente.limite}]]</label>
                    <input type="numer" name ="limite" th:field="*{credito.limite}"/>
                </fieldset>
                <hr/>
                <button type="submit" th:text="#{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla::footer"/>
    </body>
</html>