<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xlmns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header th:replace="layout/plantilla::header"/>
        <div class="contenido">
            <h2>Información de categorias</h2>
            <a th:href="@{/categoria/nuevo}">Nuevo Categoria</a>

            <div th:if="${categorias !=null and !categorias.empty}">
                <table border="1">
                    <tr>
                        <th>Descripción</th>
                        <th>Activa</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                    <tr th:each="categoria: ${categorias}">
                        <td>[[${categoria.descripcion}]]</td>
                        <td style="text-align: center">
                            <input type="checkbox"               
                                   name="activo" 
                                   th:checked="${categoria.activo}"
                                   disabled="true">
                        </td>
                        <td> <a th:href="@{/categoria/eliminar/} + ${categoria.idCategoria}">Eliminar</td>
                        <td> <a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}">Modificar</td>
                    </tr>
                </table> 
            </div>

            <div th:if="${categorias ==null or categorias.empty}">
                <h2>No hay categorias que mostrar</h2>
            </div>
        </div>

        <footer th:replace="layout/plantilla::footer"/>

    </body>
</html>
