<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xlmns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla::head">
        <title>TechShop</title>
    </head>
    <body>

        <header th:replace="layout/plantilla::header"/>
        <div class="contenido">
            <h2>[[#{categoria.titulo}]]</h2>
            <a th:href="@{/categoria/nuevo}">[[#{categoria.nuevo}]]</a>

            <div th:if="${categorias !=null and !categorias.empty}">
                <table border="1">
                    <tr>
                        <th>[[#{categoria.descripcion}]]</th>
                        <th>[[#{categoria.activo}]]</th>
                        <th>[[#{accion.eliminar}]]</th>
                        <th>[[#{accion.actualizar}]]</th>
                    </tr>
                    <tr th:each="categoria: ${categorias}">
                        <td>[[${categoria.descripcion}]]</td>
                        <td style="text-align: center">
                            <input type="checkbox"               
                                   name="activo" 
                                   th:checked="${categoria.activo}"
                                   disabled="true">
                        </td>
                        <td> <a th:href="@{/categoria/eliminar/} + ${categoria.idCategoria}">[[#{accion.eliminar}]]</td>
                        <td> <a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}">[[#{accion.actualizar}]]</td>
                    </tr>
                </table> 
            </div>

            <div th:if="${categorias ==null or categorias.empty}">
                <h2>[[#{categoria.no_mostrar}]]</h2>
            </div>
        </div>

        <footer th:replace="layout/plantilla::footer"/>

    </body>
</html>
