<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xlmns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla::head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla::header"/>
        <div class="contenido">
            <h2>[[#{categoria.datos}]]</h2>
            <a th:href="@{/categoria/listado}">[[#{accion.regresar}]]</a>
            <hr/><!-- comment -->
            <form th:action="@{/categoria/guardar}"
                  method="post"
                  th:object="${categoria}">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                <fieldset>
                    <label for="descripcion">[[#{categoria.descripcion}]]</label>
                    <input type="text" name ="descripcion" th:field="*{descripcion}"/>
                </fieldset>
                <fieldset>
                    <label for="activo">[[#{categoria.activo}]]</label>
                    <input type="checkbox" name ="activo" th:field="*{activo}"/>
                </fieldset>
                <hr/>
                <button type="submit" th:text="#{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla::footer"/>
    </body>
</html>