<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xlmns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/plantilla::head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla::header"/>
        <div class="container">
            <h2>[[#{index.titulo}]]</h2>
            <div class="row row-cols-3" th:if="${articulos !=null and !articulos.empty}">
                <div class="card" th:each="articulo: ${articulos}">
                    <div class="card-body">
                        <h5 class="card-title">[[${articulo.descripcion}]]</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-end">
                            [[${#numbers.formatDecimal(articulo.precio,3,2)}]]</h6>
                        <a class="card-link" 
                           th:href="@{/carrito/agregar/} + ${articulo.idArticulo}">
                            [[#{accion.agregar}]]</a>
                        <p class="card-text">[[${articulo.detalle}]]</p>
                    </div>
                </div>
            </div>
            <div th:if="${articulos ==null or articulos.empty}">
                <h2>[[#{articulo.no_mostrar}]]</h2>
            </div>
        </div>
        <footer th:replace="layout/plantilla::footer"/>
    </body>
</html>
